@use '../utilities/variables'as *;
@use '../utilities/funciones'as f;


.cd-top {
    height: f.rem(40px);
    width: f.rem(40px);
    position: fixed;
    bottom: f.rem(5px);
    right: f.rem(5px);
    box-shadow: 0 0 10px rgba(black, .05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-color: $color-dark;
    background-image: url(../img/cd-top-arrow.svg);
    background-repeat: no-repeat;
    background-position: center 50%;
    border-radius: f.rem(4px);
    opacity: .66;

    &.hide {
        display: none;
    }

    &.show {
        display: inline-block;
    }

    @media screen and(min-width: $bk-tablet) {
        right: f.rem(10px);
        bottom: f.rem(10px);
    }

    @media screen and(min-width: $bk-grande) {
        height: f.rem(50px);
        width: f.rem(50px);
        right: f.rem(30px);
        bottom: f.rem(30px);
    }
}