@use '../utilities/variables'as *;
@use '../utilities/funciones'as f;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-body;
}

.header {
    padding: f.rem(32px) 0;
    margin-bottom: f.rem(48px);
    background: linear-gradient(180deg, rgba($color-gradient-header-dark, 1) 0%, rgba($color-gradient-header-light, 1) 100%);

    h1 {
        text-align: center;
        color: $color-light;
        font-family: $fuente-display;
        font-size: clamp(2rem, 5vw, 7rem);
        font-weight: 800;
        text-shadow: 0 2px 5px rgba($color-dark, 0.25);
    }

    h2 {
        @extend h1;
        font-size: clamp(1.8rem, 4vw, 6rem);
    }
}

.main {
    width: Min(95%, f.rem(1200px));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: f.rem(48px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(f.rem(300px), 1fr));
    grid-gap: f.rem(32px);

    &--subpage {
        @extend .main;
        place-items: center;
    }
}

.img-responsive {
    max-width: 100%;
    display: block;
    border-radius: f.rem(10px);
    box-shadow: 0 f.rem(13px) f.rem(27px) f.rem(-5px) rgba(50, 50, 93, 0.25),
        0 f.rem(8px) f.rem(16px) f.rem(-8px) rgba(0, 0, 0, 0.3);
}

.vid-responsive {
    max-width: 100%;
    border-radius: f.rem(10px);
    box-shadow: 0 f.rem(13px) f.rem(27px) f.rem(-5px) rgba(50, 50, 93, 0.25),
        0 f.rem(8px) f.rem(16px) f.rem(-8px) rgba(0, 0, 0, 0.3);
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    figcaption {
        display: inline-block;
        padding: f.rem(18px) f.rem(8px) 0 f.rem(8px);
        font-family: $fuente-principal;
        font-size: clamp(1.5rem, 1.5vw, 3rem);
        text-align: center;
        color: $color-dark;

        &.extended {
            padding-bottom: f.rem(5px);
        }
    }

    .figcaption {
        &__contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__more {
            padding: f.rem(10px);
            font-size: f.rem(48px);
            font-weight: 700;
            line-height: f.rem(5px);
            color: $color-accent;
            text-decoration: none;
            transition: color .3s ease-in-out;

            &:hover {
                color: $color-more-content;
            }
        }
    }

    .more-content {
        position: relative;
        display: block;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

        &::after {
            position: absolute;
            content: '';
            border-radius: f.rem(10px);
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 f.rem(25px) f.rem(10px) rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &:hover {
            transform: scale(1.03, 1.03);

            &::after {
                opacity: 1;
            }
        }

    }
}

.nav {
    text-align: center;
    margin: f.rem(60px) auto;

    &__link {
        padding: f.rem(16px) f.rem(30px);
        border: f.rem(2px) solid $color-dark;
        border-radius: f.rem(5px);
        background-color: transparent;
        color: $color-dark;
        text-decoration: none;
        font-size: f.rem(22px);
        font-family: $fuente-principal;
        text-transform: uppercase;
        transition: all 200ms ease-in-out;

        &:hover {
            background-color: $color-dark;
            color: $color-light;
        }
    }
}

.link {
    margin-bottom: f.rem(50px);
    display: flex;
    justify-content: center;

    &__link {
        &__img {
            width: f.rem(75px);
        }
    }
}