block config 
    include ../config/config

include ../mixins/mixins

doctype html
html(lang="es")
    head
        include ../includes/head
    body
        <a id="top"></a>
        block main
        block footer
            a#identificador.cd-top.hide(href="#top") Arriba
        script(src="js/script.js")