block data 
    include data
    
    each item in items
        if item.extended
            figure.figure
                a(href=`${item.image}.html` class="more-content")
                    img(loading= "lazy" src=`img/${item.image}.jpg` alt=`${item.name}` class="img-responsive")
                .figcaption__contenedor
                    figcaption.extended #{item.name}
                    a(href=`${item.image}.html` class="figcaption__more") +
        else
            figure.figure
                img(loading= "lazy" src=`img/${item.image}.jpg` alt=`${item.name}` class="img-responsive")
                figcaption #{item.name}
            