meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="description" content=descripcion)
title #{nombreSite} || #{nombrePagina}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=MuseoModerno:wght@400;700;800;900&display=swap" rel="stylesheet">
link(rel="shortcut icon" href="img/favicon.png" type="image/x-icon")
link(rel="stylesheet" href="css/estilos.min.css")