$fuente-principal: 'Arimo', sans-serif;
$fuente-display: 'MuseoModerno', cursive;
$color-gris: #ccc;
$color-body: #fff;
$color-dark: #333;
$color-light: #eee;
$color-accent: tomato;
$color-more-content: #64ad14;
$color-gradient-header-dark: #727273;
$color-gradient-header-light: #fff;
$bk-tablet: 768px;
$bk-grande: 1024px;