extends templates/template
append config
  - nombrePagina = 'Elliott Erwitt'
  - nombreHeader = 'Elliott Erwitt'
  - nombrePic = 'Elliott-Erwitt'

block main
  header.header
    h2 #{nombreHeader}
  nav.nav 
    a.nav__link(href="index.html") Home
  main.main--subpage
    - let pictures = ["01", "02", "03", "04", "05", "06", "07", "08", "09"]
      each picture in pictures
        img.img-responsive(src=`img/${nombrePic}-${picture}.jpg` loading="lazy" alt=`${nombrePagina}`)
  block enlace
    - let urlEnlace = "https://www.magnumphotos.com/photographer/elliott-erwitt/"
      include includes/enlace

